global
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:{{ src_http_port }}
    default_backend http_back
    http-response del-header Server
    http-response set-header Server server

backend http_back
    server s1 127.0.0.1:{{ dst_http_port }} check

{% if use_tls | bool %}
frontend https_front
    bind *:{{ src_tls_port }} ssl crt /root/{{ key_path | basename }}
    default_backend https_back
    http-response del-header Server
    http-response set-header Server server
{% endif %}

{% if use_tls | bool %}
backend https_back
    {% if is_backend_tls | bool %}
    server s2 127.0.0.1:{{ dst_tls_port }} check ssl verify none
    {% else %}
    server s2 127.0.0.1:{{ dst_tls_port }} check
    {% endif %}
{% endif %}
